#Moved global variables to modules
#https://troylindsayblog.wordpress.com/2018/04/12/one-way-to-implement-global-variables-in-terraform/

#modules/global_variables/variables.tf

# AWS Config

variable "AWS_ACCESS_KEY" {
  default = "YOUR_ADMIN_ACCESS_KEY"
}

variable "AWS_SECRET_KEY" {
  default = "YOUR_ADMIN_SECRET_KEY"
}

variable "AWS_REGION" {
  default = "ap-southeast-2"
}
